* {
   -fx-base-color: rgb(31.0, 31.0, 31.0);
   -fx-red-color:  rgb(232.0, 17.0, 35.0);
}

#main {
	-fx-background-color: rgba(31.0, 31.0, 31.0, 0.9);
}

#topToolbar, #statusContainer {
	-fx-padding: 3.0 5.0 3.0 5.0;
	-fx-background-color: rgb(31.0, 31.0, 31.0);
}



#statusContainer {
	-fx-alignment: CENTER_LEFT;
	-fx-spacing: 10.0px;
}

#statusContainer FontIcon, #statusContainer SpinningFontIcon {
	-fx-icon-size: 16.0px;
	-fx-icon-color: WHITE;
}

#errorIcon {
	-fx-icon-color: -fx-red-color;
}

#statusContainer JFXButton {
	-fx-padding: 0.0;
}

#ratesGrid {
	-fx-padding: 10.0px;
	-fx-vgap: 5.0px;
	-fx-hgap: 5.0px;
}

.rate {
	-fx-background-color: rgba(255.0, 255.0, 255.0, 0.8);

}

.rate-icon-container {
	-fx-background-color: rgba(255.0, 255.0, 255.0, 0.95);
	-fx-pref-width: 80.0px;
	-fx-max-width: 80.0px;
}

.rate-icon-container2 {
	-fx-background-color: rgba(255.0, 255.0, 255.0, 0.95);
}

.rate-icon {
	-fx-icon-size: 32.0px;
	-fx-icon-color: -fx-base-color;
}

#gold-icon {
	-fx-max-width: 40.0px;
	-fx-max-height: 32.0px;
	-fx-background-color: -fx-base-color;
}


.value-container {
	-fx-alignment: BASELINE_LEFT;
	-fx-spacing: 4.0;
}

.rate-value {
	-fx-font-size: 20.0;
	-fx-font-weight: bold;
	-fx-fill: WHITE;
	-fx-padding: 0.0;
}

.no-data {
	-fx-icon-size: 24.0px;
	-fx-icon-color: GRAY;
}

.helper-label {
	-fx-fill: GRAY;
	-fx-font-weight: bold;
	-fx-font-size: 10.0;
}

#update-date-label {
    -fx-alignment: CENTER-RIGHT;
    -fx-text-fill: WHITE;
}